mixin thumbs(items)
	each item in items
		+e.LI.thumbs-item
			picture
				source(media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)", srcset=item.set)
				+e.IMG.thumbs-img(src=item.src, alt=item.alt)

mixin modals(items)
	+e.UL.modals
		each item in items
			+e.slide
				+e.H3.subtitle= item.subtitle
				picture
					source(media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)", srcset=item.set)
					+e.IMG.logo(src=item.src, alt=item.alt)
				+e.P.lead= item.lead
				+e.P.info= item.info
				+e.A.link(href=item.href, target="_blank")= item.link
				//-+e.SPAN.date= item.date

mixin trust
	+b.MAIN.trust
		+e.H1.title(class="titles") Нам доверяют

		+e.DIV.cars
			+e.UL.thumbs
				+thumbs([
					{
						"set": "img/trust/mercedes-logo@2.png",
						"src": "img/trust/mercedes-logo.png",
						"alt": "Mercedes-Benz Logo"
					},
					{
						"set": "img/trust/audi-logo@2.png",
						"src": "img/trust/audi-logo.png",
						"alt": "Audi Logo"
					},
					{
						"set": "img/trust/volkswagen-logo@2.png",
						"src": "img/trust/volkswagen-logo.png",
						"alt": "Volkswagen Logo"
					},
					{
						"set": "img/trust/peugeot-logo@2.png",
						"src": "img/trust/peugeot-logo.png",
						"alt": "Peugeot Logo"
					},
					{
						"set": "img/trust/mazda-logo@2.png",
						"src": "img/trust/mazda-logo.png",
						"alt": "Mazda Logo"
					},
					{
						"set": "img/trust/subaru-logo@2.png",
						"src": "img/trust/subaru-logo.png",
						"alt": "Subaru Logo"},
					{
						"set": "img/trust/honda-logo@2.png",
						"src": "img/trust/honda-logo.png",
						"alt": "Honda Logo"
					},
					{
						"set": "img/trust/bmw-logo@2.png",
						"src": "img/trust/bmw-logo.png",
						"alt": "BMW Logo"
					}
				])

			+modals([
				{
					"subtitle": "Плодотворное сотрудничество",
					"set": "img/trust/mercedes-logo@2.png",
					"src": "img/trust/mercedes-logo.png", "alt": "Mercedes-Benz Logo",
					"lead": "Наша основная задача — максимально упростить процесс.",
					"info": "Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам. Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам.",
					"href": "http://www.mercedes-benz.ua/",
					"link": "mercedes-benz.ua"
				},
				{
					"subtitle": "Плодотворное сотрудничество",
					"set": "img/trust/audi-logo@2.png",
					"src": "img/trust/audi-logo.png", "alt": "Audi Logo",
					"lead": "Наша основная задача — максимально упростить процесс.",
					"info": "Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам. Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам.",
					"href": "http://www.audi.ua/ua",
					"link": "audi.ua"
				},
				{
					"subtitle": "Плодотворное сотрудничество",
					"set": "img/trust/volkswagen-logo@2.png",
					"src": "img/trust/volkswagen-logo.png", "alt": "Volkswagen Logo",
					"lead": "Наша основная задача — максимально упростить процесс.",
					"info": "Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам. Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам.",
					"href": "http://www.volkswagen.ua/",
					"link": "volkswagen.ua"
				},
				{
					"subtitle": "Плодотворное сотрудничество",
					"set": "img/trust/peugeot-logo@2.png",
					"src": "img/trust/peugeot-logo.png", "alt": "Volkswagen Logo",
					"lead": "Наша основная задача — максимально упростить процесс.",
					"info": "Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам. Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам.",
					"href": "http://www.peugeot.ua/",
					"link": "peugeot.ua"
				},
				{
					"subtitle": "Плодотворное сотрудничество",
					"set": "img/trust/mazda-logo@2.png",
					"src": "img/trust/mazda-logo.png", "alt": "Mazda Logo",
					"lead": "Наша основная задача — максимально упростить процесс.",
					"info": "Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам. Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам.",
					"href": "http://mazda.ua/",
					"link": "mazda.ua"
				},
				{
					"subtitle": "Плодотворное сотрудничество",
					"set": "img/trust/subaru-logo@2.png",
					"src": "img/trust/subaru-logo.png", "alt": "Subaru Logo",
					"lead": "Наша основная задача — максимально упростить процесс.",
					"info": "Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам. Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам.",
					"href": "http://subaru.ua/",
					"link": "subaru.ua"
				},
				{
					"subtitle": "Плодотворное сотрудничество",
					"set": "img/trust/honda-logo.png",
					"src": "img/trust/honda-logo@2.png", "alt": "Honda Logo",
					"lead": "Наша основная задача — максимально упростить процесс.",
					"info": "Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам. Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам.",
					"href": "http://honda.ua/",
					"link": "honda.ua"
				},
				{
					"subtitle": "Плодотворное сотрудничество",
					"set": "img/trust/bmw-logo@2.png",
					"src": "img/trust/bmw-logo.png", "alt": "BMW Logo",
					"lead": "Наша основная задача — максимально упростить процесс.",
					"info": "Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам. Ремонта вашего автомобиля, сделав его быстрым, удобным. Нами ремонт вашего и чудесного автомобиля перестанет быть задачей. Теперь вы можете, не выходя из дома отправить заявку и выбрать надежный и проверенный автосервис, подходящий именно вам.",
					"href": "http://www.bmw.ua/",
					"link": "bmw.ua"
				}
			])
			+e.DIV.controls
				+e.SPAN.toggle(class="--prev")
					+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 477.175 477.175", width="48", height="48")
						path(d="M145.2 238.57l215.5-215.5c5.3-5.3 5.3-13.8 0-19.1s-13.8-5.3-19.1 0l-225.1 225.1c-5.3 5.3-5.3 13.8 0 19.1l225.1 225c2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4c5.3-5.3 5.3-13.8 0-19.1l-215.4-215.5z")
				+e.SPAN.toggle(class="--next")
					+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 477.175 477.175", width="48", height="48")
						path(d="M360.73 229.07L135.63 3.97c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z")
			+e.BUTTON.btn(type="button")
				+e.SVG.icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 22.88 22.88", width="24", height="24")
					path(d="M.32 1.9C-.1 1.5-.1.78.32.33c.45-.43 1.15-.43 1.6 0l9.5 9.54L20.98.32c.43-.43 1.15-.43 1.57 0 .45.45.45 1.16 0 1.6l-9.52 9.5 9.52 9.55c.45.43.45 1.15 0 1.6-.42.42-1.14.42-1.57 0L11.43 13 1.9 22.56c-.43.43-1.13.43-1.58 0-.43-.44-.43-1.16 0-1.6l9.53-9.53L.32 1.9z")

		+e.P.desc Ремонт машины неизменно оборачивается кошмаром. Раз за разом вам приходится объезжать неизменно оборачивается кошмаром. Таз разом вам и новые автосервисы в поисках приемлемых цен, чтобы в итоге свой доверить ремонт своего автомобиля непроверенным мастерам.
